In [2]:
import os
import numpy as np
import pandas as pd 
import json
from PIL import Image

# Image Classification

### ArtDL

In [3]:
df = pd.read_csv("/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/ArtDL.csv")
df

,item,11F(MARY),11H(ANTONY ABBOT),11H(ANTONY OF PADUA),11H(AUGUSTINE),11H(DOMINIC),11H(FRANCIS),11H(JEROME),11H(JOHN THE BAPTIST),11H(JOHN),...,11H(PAUL),11H(PETER),11H(SEBASTIAN),11H(STEPHEN),11HH(BARBARA),11HH(CATHERINE),11HH(MARY MAGDALENE),John Baptist - Child,John Baptist - Dead,set
0,0007,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train
1,0007c0a4-31fe-4a8c-b23f-ee79528c96cb_970b7762-...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,val
2,004bc224-6fc0-4182-9c58-d0c06a709a52_d7a0fd88-...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train
3,0055a585-4c6e-48ae-935a-0ac083d819ef_ee936d55-...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train
4,00a64491-949b-4ee2-9f82-10187dee5b38_7d2d5be0-...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42474,zurbaran_2_stigmata,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,train
42475,zurbaran_2_virgin,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,train
42476,zurbaran_2_virginas,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train
42477,zurbaran_2_virginch,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train
42478,zurn_martin_madchil,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,train

In [4]:
(df.iloc[:,1:-1].sum(axis=1) == 0).sum()

12833

In [5]:
(df.iloc[:,1:-1].sum(axis=1) > 1).sum()

8170

In [6]:
columns_rename = {'11H(ANTONY OF PADUA)': 'Anthony of Padua',
                  '11H(FRANCIS)': 'Francis of Assisi',
                  '11H(JEROME)': 'Jerome',
                  '11H(JOHN THE BAPTIST)': 'John the Baptist',
                  '11HH(MARY MAGDALENE)': 'Mary Magdalene',
                  '11H(PAUL)': 'Paul',
                  '11H(PETER)': 'Peter',
                  '11H(DOMINIC)': 'Saint Dominic',
                  '11H(SEBASTIAN)': 'Saint Sebastian',
                  '11F(MARY)': 'Virgin Mary',
                  }

In [7]:
cols_to_drop = [col for col in df.columns[1:-1] if col not in columns_rename]
cols_to_drop

['11H(ANTONY ABBOT)',
 '11H(AUGUSTINE)',
 '11H(JOHN)',
 '11H(JOSEPH)',
 '11H(STEPHEN)',
 '11HH(BARBARA)',
 '11HH(CATHERINE)',
 'John Baptist - Child',
 'John Baptist - Dead']

In [8]:
df.drop(cols_to_drop, axis=1, inplace=True)

In [9]:
df.shape

(42479, 12)

In [10]:
df

,item,11F(MARY),11H(ANTONY OF PADUA),11H(DOMINIC),11H(FRANCIS),11H(JEROME),11H(JOHN THE BAPTIST),11H(PAUL),11H(PETER),11H(SEBASTIAN),11HH(MARY MAGDALENE),set
0,0007,1,0,0,0,0,0,0,0,0,0,train
1,0007c0a4-31fe-4a8c-b23f-ee79528c96cb_970b7762-...,0,0,0,0,0,0,0,0,0,0,val
2,004bc224-6fc0-4182-9c58-d0c06a709a52_d7a0fd88-...,0,0,0,0,0,0,0,0,0,0,train
3,0055a585-4c6e-48ae-935a-0ac083d819ef_ee936d55-...,1,0,0,0,0,0,0,0,0,0,train
4,00a64491-949b-4ee2-9f82-10187dee5b38_7d2d5be0-...,0,0,0,0,0,0,0,0,0,0,train
...,...,...,...,...,...,...,...,...,...,...,...,...
42474,zurbaran_2_stigmata,0,0,0,1,0,0,0,0,0,0,train
42475,zurbaran_2_virgin,1,0,0,0,0,0,0,0,0,0,train
42476,zurbaran_2_virginas,1,0,0,0,0,0,0,0,0,0,train
42477,zurbaran_2_virginch,1,0,0,0,0,0,0,0,0,0,train
42478,zurn_martin_madchil,1,0,0,0,0,0,0,0,0,0,train

In [11]:
filt_ = df.iloc[:,1:-1].sum(axis=1) == 1
df = df.loc[filt_].copy()

In [12]:
df.shape

(23614, 12)

In [13]:
df

,item,11F(MARY),11H(ANTONY OF PADUA),11H(DOMINIC),11H(FRANCIS),11H(JEROME),11H(JOHN THE BAPTIST),11H(PAUL),11H(PETER),11H(SEBASTIAN),11HH(MARY MAGDALENE),set
0,0007,1,0,0,0,0,0,0,0,0,0,train
3,0055a585-4c6e-48ae-935a-0ac083d819ef_ee936d55-...,1,0,0,0,0,0,0,0,0,0,train
9,0170fd7b-133a-4fbc-a6d2-6d145a5a5942_2d7baaf4-...,1,0,0,0,0,0,0,0,0,0,train
10,0185868a-06c9-461a-bbdc-6c08bcd03140_2d5edb2f-...,1,0,0,0,0,0,0,0,0,0,train
11,01bc3c3c-2265-4ccd-93f4-601d1501745d_952cd342-...,0,0,0,0,0,0,0,1,0,0,train
...,...,...,...,...,...,...,...,...,...,...,...,...
42474,zurbaran_2_stigmata,0,0,0,1,0,0,0,0,0,0,train
42475,zurbaran_2_virgin,1,0,0,0,0,0,0,0,0,0,train
42476,zurbaran_2_virginas,1,0,0,0,0,0,0,0,0,0,train
42477,zurbaran_2_virginch,1,0,0,0,0,0,0,0,0,0,train
42478,zurn_martin_madchil,1,0,0,0,0,0,0,0,0,0,train

In [14]:
df.rename(columns = columns_rename, inplace=True)

In [15]:
df

,item,Virgin Mary,Anthony of Padua,Saint Dominic,Francis of Assisi,Jerome,John the Baptist,Paul,Peter,Saint Sebastian,Mary Magdalene,set
0,0007,1,0,0,0,0,0,0,0,0,0,train
3,0055a585-4c6e-48ae-935a-0ac083d819ef_ee936d55-...,1,0,0,0,0,0,0,0,0,0,train
9,0170fd7b-133a-4fbc-a6d2-6d145a5a5942_2d7baaf4-...,1,0,0,0,0,0,0,0,0,0,train
10,0185868a-06c9-461a-bbdc-6c08bcd03140_2d5edb2f-...,1,0,0,0,0,0,0,0,0,0,train
11,01bc3c3c-2265-4ccd-93f4-601d1501745d_952cd342-...,0,0,0,0,0,0,0,1,0,0,train
...,...,...,...,...,...,...,...,...,...,...,...,...
42474,zurbaran_2_stigmata,0,0,0,1,0,0,0,0,0,0,train
42475,zurbaran_2_virgin,1,0,0,0,0,0,0,0,0,0,train
42476,zurbaran_2_virginas,1,0,0,0,0,0,0,0,0,0,train
42477,zurbaran_2_virginch,1,0,0,0,0,0,0,0,0,0,train
42478,zurn_martin_madchil,1,0,0,0,0,0,0,0,0,0,train

In [16]:
df.iloc[:, 1:-1].sum(axis=1).value_counts()

1    23614
Name: count, dtype: int64

In [17]:
df["class"] = ''
for col in df.columns[1:-2]:
    print(col)
    filt_ = df[col] == 1
    df.loc[filt_, "class"] = col

Virgin Mary
Anthony of Padua
Saint Dominic
Francis of Assisi
Jerome
John the Baptist
Paul
Peter
Saint Sebastian
Mary Magdalene

In [18]:
df.shape

(23614, 13)

In [19]:
df["class"].value_counts().sum()

23614

In [20]:
df["class"].value_counts()

class
Virgin Mary          16491
Peter                 1248
Jerome                1192
John the Baptist      1179
Francis of Assisi     1009
Mary Magdalene         946
Saint Sebastian        576
Paul                   531
Saint Dominic          297
Anthony of Padua       145
Name: count, dtype: int64

In [21]:
filt_ = df["class"]==''
df.loc[filt_]

Empty DataFrame
Columns: [item, Virgin Mary, Anthony of Padua, Saint Dominic, Francis of Assisi, Jerome, John the Baptist, Paul, Peter, Saint Sebastian, Mary Magdalene, set, class]
Index: []

In [22]:
df["set"].value_counts()

set
train    18960
val       2328
test      2326
Name: count, dtype: int64

In [23]:
df.loc[df["set"]=="train"]

,item,Virgin Mary,Anthony of Padua,Saint Dominic,Francis of Assisi,Jerome,John the Baptist,Paul,Peter,Saint Sebastian,Mary Magdalene,set,class
0,0007,1,0,0,0,0,0,0,0,0,0,train,Virgin Mary
3,0055a585-4c6e-48ae-935a-0ac083d819ef_ee936d55-...,1,0,0,0,0,0,0,0,0,0,train,Virgin Mary
9,0170fd7b-133a-4fbc-a6d2-6d145a5a5942_2d7baaf4-...,1,0,0,0,0,0,0,0,0,0,train,Virgin Mary
10,0185868a-06c9-461a-bbdc-6c08bcd03140_2d5edb2f-...,1,0,0,0,0,0,0,0,0,0,train,Virgin Mary
11,01bc3c3c-2265-4ccd-93f4-601d1501745d_952cd342-...,0,0,0,0,0,0,0,1,0,0,train,Peter
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42474,zurbaran_2_stigmata,0,0,0,1,0,0,0,0,0,0,train,Francis of Assisi
42475,zurbaran_2_virgin,1,0,0,0,0,0,0,0,0,0,train,Virgin Mary
42476,zurbaran_2_virginas,1,0,0,0,0,0,0,0,0,0,train,Virgin Mary
42477,zurbaran_2_virginch,1,0,0,0,0,0,0,0,0,0,train,Virgin Mary
42478,zurn_martin_madchil,1,0,0,0,0,0,0,0,0,0,train,Virgin Mary

In [24]:
df["class"].value_counts()

class
Virgin Mary          16491
Peter                 1248
Jerome                1192
John the Baptist      1179
Francis of Assisi     1009
Mary Magdalene         946
Saint Sebastian        576
Paul                   531
Saint Dominic          297
Anthony of Padua       145
Name: count, dtype: int64

In [25]:
df_train = df.loc[df["set"]=="train"].copy()
df_test = df.loc[df["set"]=="test"].copy()
df_val = df.loc[df["set"]=="val"].copy()

In [26]:
df_train["class"].value_counts(normalize=False)

class
Virgin Mary          13210
Peter                 1002
John the Baptist       980
Jerome                 955
Francis of Assisi      810
Mary Magdalene         760
Saint Sebastian        463
Paul                   426
Saint Dominic          238
Anthony of Padua       116
Name: count, dtype: int64

In [27]:
df_val["class"].value_counts(normalize=False)

class
Virgin Mary          1644
Peter                 123
Jerome                118
Francis of Assisi     100
John the Baptist       98
Mary Magdalene         92
Saint Sebastian        57
Paul                   52
Saint Dominic          30
Anthony of Padua       14
Name: count, dtype: int64

In [28]:
df_test["class"].value_counts(normalize=False)

class
Virgin Mary          1637
Peter                 123
Jerome                119
John the Baptist      101
Francis of Assisi      99
Mary Magdalene         94
Saint Sebastian        56
Paul                   53
Saint Dominic          29
Anthony of Padua       15
Name: count, dtype: int64

In [29]:
image_files = os.listdir("/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/JPEGImages")

In [30]:
train_missing = []
for img in df_train["item"]:
    if img+".jpg" not in image_files:
        train_missing.append(img)
        
test_missing = []
for img in df_test["item"]:
    if img+".jpg" not in image_files:
        test_missing.append(img)
        
val_missing = []
for img in df_val["item"]:
    if img+".jpg" not in image_files:
        val_missing.append(img)
        
train_missing, test_missing, val_missing

([], [], [])

In [31]:
images_info = {}
images_info["categories"] = []
i = 0
for value in columns_rename.values():
    x = {}
    x["id"] = i
    x["name"] = value
    images_info["categories"].append(x)
    i+=1

images_info

{'categories': [{'id': 0, 'name': 'Anthony of Padua'},
  {'id': 1, 'name': 'Francis of Assisi'},
  {'id': 2, 'name': 'Jerome'},
  {'id': 3, 'name': 'John the Baptist'},
  {'id': 4, 'name': 'Mary Magdalene'},
  {'id': 5, 'name': 'Paul'},
  {'id': 6, 'name': 'Peter'},
  {'id': 7, 'name': 'Saint Dominic'},
  {'id': 8, 'name': 'Saint Sebastian'},
  {'id': 9, 'name': 'Virgin Mary'}]}

In [32]:
path = "/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/JPEGImages"
map = {}
for x_dict in images_info["categories"]:
    map[x_dict["name"]] = x_dict["id"]
map

{'Anthony of Padua': 0,
 'Francis of Assisi': 1,
 'Jerome': 2,
 'John the Baptist': 3,
 'Mary Magdalene': 4,
 'Paul': 5,
 'Peter': 6,
 'Saint Dominic': 7,
 'Saint Sebastian': 8,
 'Virgin Mary': 9}

In [33]:
train_images_info = images_info.copy()
train_images_info["images"] = []

i=0
for (img, label) in df_train[["item", "class"]].values:
    img_path = os.path.join(path, img+".jpg")
    x = {}
    x["label"] = map[label]
    x["file_name"] =  img_path
    img = Image.open(x["file_name"])
    img_array = np.array(img)
    x["height"] = img_array.shape[0]
    x["width"] = img_array.shape[1]
    x["id"] = i
    train_images_info["images"].append(x)
    i+=1

In [34]:
test_images_info = images_info.copy()
test_images_info["images"] = []

i=0
for (img, label) in df_test[["item", "class"]].values:
    img_path = os.path.join(path, img+".jpg")
    x = {}
    x["label"] = map[label]
    x["file_name"] =  os.path.join(img_path)
    img = Image.open(x["file_name"])
    img_array = np.array(img)
    x["height"] = img_array.shape[0]
    x["width"] = img_array.shape[1]
    x["id"] = i
    test_images_info["images"].append(x)
    i+=1

In [35]:
val_images_info = images_info.copy()
val_images_info["images"] = []

i=0
for (img, label) in df_val[["item", "class"]].values:
    img_path = os.path.join(path, img+".jpg")
    x = {}
    x["label"] = map[label]
    x["file_name"] =  os.path.join(img_path)
    img = Image.open(x["file_name"])
    img_array = np.array(img)
    x["height"] = img_array.shape[0]
    x["width"] = img_array.shape[1]
    x["id"] = i
    val_images_info["images"].append(x)
    i+=1

In [36]:
path = '/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/'

In [37]:
import json 

with open(os.path.join(path, "test_images_info.json"), "w") as outfile: 
    json.dump(test_images_info, outfile)
    
with open(os.path.join(path, "train_images_info.json"), "w") as outfile: 
    json.dump(train_images_info, outfile)
    
with open(os.path.join(path, "val_images_info.json"), "w") as outfile: 
    json.dump(val_images_info, outfile)

In [ ]:
python3 convert_images_to_tfr.py --logtostderr \
      --image_dir="/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/JPEGImages" \
      --image_info_file="/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/train_images_info.json" \
      --output_file_prefix="/home/shashank/tensorflow_datasets/tfrecords/ArtDL/train" \
      --num_shards=1

In [ ]:
python3 convert_images_to_tfr.py --logtostderr \
      --image_dir="/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/JPEGImages" \
      --image_info_file="/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/test_images_info.json" \
      --output_file_prefix="/home/shashank/tensorflow_datasets/tfrecords/ArtDL/test" \
      --num_shards=1

In [ ]:
python3 convert_images_to_tfr.py --logtostderr \
      --image_dir="/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/JPEGImages" \
      --image_info_file="/home/shashank/tensorflow_datasets/downloads/art_dl/ArtDL/val_images_info.json" \
      --output_file_prefix="/home/shashank/tensorflow_datasets/tfrecords/ArtDL/val" \
      --num_shards=1

### Skin Cancer

In [2]:
mapper = {"actinic_keratoses": 0,
          "basal_cell_carcinoma": 1,
          "benign_keratosis-like_lesions": 2,
          "dermatofibroma": 3,
          "melanocytic_Nevi": 4,
          "melanoma": 5,
          "vascular_lesions": 6,
          }

In [3]:
images_info = {}
images_info["categories"] = []
i = 0
for (key, val) in mapper.items():
    x = {}
    x["id"] = val
    x["name"] = key
    images_info["categories"].append(x)
    i+=1

images_info

{'categories': [{'id': 0, 'name': 'actinic_keratoses'},
  {'id': 1, 'name': 'basal_cell_carcinoma'},
  {'id': 2, 'name': 'benign_keratosis-like_lesions'},
  {'id': 3, 'name': 'dermatofibroma'},
  {'id': 4, 'name': 'melanocytic_Nevi'},
  {'id': 5, 'name': 'melanoma'},
  {'id': 6, 'name': 'vascular_lesions'}]}

In [8]:
import os
train_images_info = images_info.copy()
train_images_info["images"] = []
path = "/home/shashank/tensorflow_datasets/downloads/skin_cancer/train"
i=0

for category in mapper.keys():
    for file in os.listdir(os.path.join(path, category)):
        x = {}
        x["label"] = mapper[category]
        x["file_name"] =  os.path.join(path, category, file)
                
        img = Image.open(x["file_name"])
        img_array = np.array(img)
        x["height"] = img_array.shape[0]
        x["width"] = img_array.shape[1]
        x["id"] = i
        train_images_info["images"].append(x)
        i+=1

In [15]:
test_images_info = images_info.copy()
test_images_info["images"] = []
path = "/home/shashank/tensorflow_datasets/downloads/skin_cancer/test"
i=0

for category in mapper.keys():
    for file in os.listdir(os.path.join(path, category)):
        x = {}
        x["label"] = mapper[category]
        x["file_name"] =  os.path.join(path, category, file)
                
        img = Image.open(x["file_name"])
        img_array = np.array(img)
        x["height"] = img_array.shape[0]
        x["width"] = img_array.shape[1]
        x["id"] = i
        test_images_info["images"].append(x)
        i+=1

In [16]:
validation_images_info = images_info.copy()
validation_images_info["images"] = []
path = "/home/shashank/tensorflow_datasets/downloads/skin_cancer/validation"
i=0

for category in mapper.keys():
    for file in os.listdir(os.path.join(path, category)):
        x = {}
        x["label"] = mapper[category]
        x["file_name"] =  os.path.join(path, category, file)
                
        img = Image.open(x["file_name"])
        img_array = np.array(img)
        x["height"] = img_array.shape[0]
        x["width"] = img_array.shape[1]
        x["id"] = i
        validation_images_info["images"].append(x)
        i+=1

In [17]:
path = '/home/shashank/tensorflow_datasets/downloads/skin_cancer'

In [18]:
import json 
with open(os.path.join(path, "train_images_info.json"), "w") as outfile: 
    json.dump(train_images_info, outfile)

with open(os.path.join(path, "test_images_info.json"), "w") as outfile: 
    json.dump(test_images_info, outfile)
    
with open(os.path.join(path, "validation_images_info.json"), "w") as outfile: 
    json.dump(validation_images_info, outfile)

In [ ]:
python3 convert_images_to_tfr.py --logtostderr \
      --image_dir="/home/shashank/tensorflow_datasets/downloads/skin_cancer" \
      --image_info_file="/home/shashank/tensorflow_datasets/downloads/skin_cancer/train_images_info.json" \
      --output_file_prefix="/home/shashank/tensorflow_datasets/tfrecords/skin_cancer/train" \
      --num_shards=1

In [ ]:
python3 convert_images_to_tfr.py --logtostderr \
      --image_dir="/home/shashank/tensorflow_datasets/downloads/skin_cancer" \
      --image_info_file="/home/shashank/tensorflow_datasets/downloads/skin_cancer/test_images_info.json" \
      --output_file_prefix="/home/shashank/tensorflow_datasets/tfrecords/skin_cancer/test" \
      --num_shards=1

In [ ]:
python3 convert_images_to_tfr.py --logtostderr \
      --image_dir="/home/shashank/tensorflow_datasets/downloads/skin_cancer" \
      --image_info_file="/home/shashank/tensorflow_datasets/downloads/skin_cancer/validation_images_info.json" \
      --output_file_prefix="/home/shashank/tensorflow_datasets/tfrecords/skin_cancer/validation" \
      --num_shards=1